@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Inter&display=swap");
.menuNav__link {
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  font-family: "Manrope", sans-serif;
  padding: 10px;
  color: black;
}

.menuNav__link:hover, .menuNav__link:focus {
  text-decoration: underline;
}

.introBtn {
  background-color: #1264d3;
  color: white;
  font-size: 25px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.introBtn:hover {
  background-color: #0f4a9b;
  color: white;
  border-color: #0f4a9b;
}

.price__btn, .needCard__link {
  text-decoration: none;
  color: #1264d3;
  font-size: 20px;
  font-weight: 600;
}
.price__btn:hover, .needCard__link:hover {
  color: #0f4a9b;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 18px;
}

h2 {
  font-size: 50px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  animation-duration: 10s;
  animation-name: slidein2;
}

h3 {
  font-size: 40px;
  font-weight: 600;
  color: #1264d3;
  font-family: "Manrope", sans-serif;
}

h4 {
  font-size: 25px;
  font-weight: 600;
  color: black;
  font-family: "Manrope", sans-serif;
}

span {
  font-weight: 500;
  font-size: 18px;
  color: black;
}

.line__horizontal {
  border-bottom: 1px solid #aeafb1;
  width: 50%;
  margin: 50px;
}

.socialNetwork__icon li {
  display: inline-block;
  margin: 0 10px;
  margin: 10px;
}

.animationLeft {
  animation-duration: 4s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 60%;
  }
  to {
    margin-left: 0%;
    width: 60%;
  }
}
.animationOpacity {
  animation-duration: 2s;
  animation-name: slidein2;
}

@keyframes slidein2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animationRight {
  animation-duration: 4s;
  animation-name: slidein3;
}

@keyframes slidein3 {
  from {
    margin-right: 100%;
    display: contents;
  }
  to {
    margin-right: 0%;
  }
}
header {
  background-color: #495560;
}

.logo {
  width: 50%;
}

.menuNav__link {
  margin: 10px;
  display: flex;
  align-items: baseline;
  border-radius: 50px;
}
.menuNav__link:hover {
  color: #edeff3;
}
.menuNav__link:focus {
  color: #edeff3;
}

.nav__btnResponsive {
  color: black;
  outline: none;
}

footer {
  background-color: #edeff3;
}

.footerLogo {
  width: 150px;
  margin-bottom: 20px;
}

.footerLine__vertical {
  border-right: 1px solid #aeafb1;
}

.footerList__link {
  text-decoration: none;
  color: #495560;
}
.footerList__link:hover {
  color: #495560;
  text-decoration: underline;
}

.footerPresentation__color {
  color: #edeff3;
  background-color: black;
}

#introSection {
  padding-top: 50px;
  padding-bottom: 100px;
  color: black;
  background-color: #495560;
}

.introImg {
  width: 60%;
}

.introText__size {
  font-size: 25px;
}

#partnerSection {
  background-color: #c9d5e5;
  padding: 50px;
}

.carouselPartner__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 165px;
}

#needSection {
  background-color: white;
  padding: 50px;
}

.need__card {
  border: none;
}

#descriptionSelection {
  padding: 50px;
}

.descriptionCard__img {
  max-width: 40%;
}

.descriptionCard__border {
  border: none;
}

.descriptionCard__title {
  font-size: 20px;
  color: #495560;
}

#presentationSection {
  background-image: url(../img/wave-price.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.presentationPeople__bloc {
  margin-top: 100px;
  margin-bottom: 150px;
}

.side {
  position: absolute;
  width: 50vw;
  top: 0;
  bottom: 0;
  margin-top: 200px;
  z-index: 10;
}
.side.left {
  left: 0;
}
.side.left:hover ~ .wrapper .front {
  transform: matrix3d(0.94, 0, 0.34, -0.0002, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(-10px);
}
.side.left:hover ~ .wrapper .back {
  transform: matrix3d(0.94, 0, 0.34, -0.00025, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(30px);
}
.side.right {
  right: 0;
}
.side.right:hover ~ .wrapper .front {
  transform: matrix3d(0.94, 0, 0.34, 0.0002, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(30px);
}
.side.right:hover ~ .wrapper .back {
  transform: matrix3d(0.94, 0, 0.34, 0.0005, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1.1) translateX(-100px);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  perspective: 200px;
  transition: all 0.2s ease;
  background-image: url("https://images.unsplash.com/photo-1504492729478-4ea346b648ae?dpr=1&auto=compress,format&fit=crop&w=376&h=502&q=80&cs=tinysrgb&crop=");
  height: 300px;
  width: 500px;
  background-size: cover;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.8);
}

.front {
  margin-right: 50px;
  z-index: 1;
}

.back {
  margin-left: 100px;
  margin-top: -150px;
  background-position: bottom;
}

#priceSection {
  padding: 50px;
  background-image: url(../img/wave5.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}

td, th {
  text-align: center;
}

.priceNumber {
  font-size: 27px;
  color: black;
  font-weight: 500;
}

.priceTable {
  padding-top: 150px;
}

#entrepriseSection {
  background-image: url(../img/wave-entreprise.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 250px;
  padding-left: 50px;
  padding-right: 50px;
}

#teamSection {
  padding: 50px;
}

.teamCard {
  border: none;
  position: relative;
}

.teamCard:hover .teamCard__overlay {
  opacity: 1;
}

.teamCard__img {
  width: 200px;
  clip-path: ellipse(50% 50%);
  display: block;
  cursor: pointer;
}

.teamlogoLinkedin__img {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.teamCard__overlay {
  position: absolute;
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(73, 85, 96, 0.7019607843);
  clip-path: ellipse(50% 50%);
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: green;
}

.input-control.error input {
  border-color: red;
}

.input-control .errorMessage {
  color: red;
  font-size: 9px;
  height: 13px;
}/*# sourceMappingURL=style.css.map */