
@use "utilities/general";
@use "utilities/variables";
@use "utilities/typography";

@use "utilities/header";
@use "utilities/footer";
@use "utilities/intro";
@use "utilities/partners";
@use "utilities/need";
@use "utilities/description";
@use "utilities/presentation";
@use "utilities/price";
@use "utilities/entreprise";
@use "utilities/team";
@use "utilities/contact";
@use "utilities/confirmation";

