@use 'variables';
@use 'typography';

header {
  background-color: variables.$color-grey2;
}
.logo {
  width: 50%;
}

.menuNav__link {
  @extend%menuNavlink;
  margin: 10px;
  display: flex;
  align-items: baseline;
  border-radius: 50px;

  &:hover {
      @extend%menuNavlinkhover;
      color: variables.$color-grey;
  }

  &:focus {
    @extend%menuNavlinkhover;
    color: variables.$color-grey;
  }
}

.nav__btnResponsive {
  color: black;
  outline: none;
}





