@use 'variables';
@use 'typography';

header {
  background-color: variables.$color-grey2;
}

.navbar__bg{
  background-color: variables.$color-grey2;
}

.navbarResponsive__bg {
  background-color: variables.$color-grey2;
  width: 100%;
}

.logo {
  width: 50%;
}

.menuNav__link {
  @extend%menuNavlink;
  margin: 10px;
  display: flex;
  align-items: baseline;
  border-radius: 50px;

  &:hover {
      @extend%menuNavlinkhover;
      color: variables.$color-black;
  }

  &:focus {
    @extend%menuNavlinkhover;
    color: variables.$color-grey;
  }
}

.nav__btnResponsive {
  color: black;
  outline: none;
}

.modal__bg {
  background-color: variables.$color-black;
  color: variables.$color-grey3;
}

.modalTitle {
  color: variables.$color-blue2;
}

.modalText {
  color: variables.$color-blue2;
  font-size: 22px;
}





