@use 'variables';
@use 'typography';



#priceSection{
    padding: 50px;
    background-image: url(../img/wave5.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.priceTable__price{
    font-size: 20px;
}

.price__btn{
    @extend%linkCard;
}

.priceTable {
    padding-top: 150px;
}