@use 'variables';
@use 'typography';


#priceSection{
    background-image: url(../img/wave-price.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    padding: 50px;
}

td, th{
    text-align: center;
}

.priceNumber{
    font-size: 27px;
    color: variables.$color-black;
    font-weight: 500;
}

.price__btn{
    @extend%linkCard;
}

.priceTable {
    padding-top: 200px;
}

.priceTable__title {
    font-size: 25px;
    font-weight: 600; 
    color: variables.$color-black;
    font-family: variables.$font-fam2;
}

.priceTableResponsive__title {
    text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 150px;
    text-align: center;
}
