@use 'variables';
@use 'typography';



#priceSection{
    padding: 50px;
    background-image: url(../img/wave5.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}


td, th{
    text-align: center;
}

.priceNumber{
    font-size: 27px;
    color: variables.$color-black;
    font-weight: 500;
}

.price__btn{
    @extend%linkCard;
}

.priceTable {
    padding-top: 150px;
}