@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Inter&display=swap');

$color-degrade:linear-gradient(45deg, #5c96ed 5%, #dae8fe 60%);
$color-degrade2:linear-gradient(180deg, #495560 5%, white 60%);

$color-black:black;
$color-white:white;
$color-blue:#1264d3;
$color-blue2:#c1d7ff;
$color-blue3:#c9d5e5;
$color-grey:#edeff3;
$color-grey2:#495560;
$color-grey3:#aeafb1;
$color-red:#e94a47;


$font-fam1: 'Poppins', sans-serif;
$font-fam2: 'Manrope', sans-serif;

$background-1 : url('../img/background-img.jpg');

